exportPattern("^[[:alpha:]]+")
exportClassPattern("^[[:alpha:]]+")
importFrom("graphics", plot)

exportMethods(
    "$",
    "$<-",
    "[",
    "clone",
    "coerce",
    ## "initialize",
    ## "initializeRoot",
    "installBinding",
    ## "plot", S3
    ## "print", S3
    "setPrototype",
    "show" 
)
