exportPattern("^[[:alpha:]]+")
exportMethods(
    "$",
    "$<-",
    "[",
    "clone",
    "coerce",
    "initialize",
    "initializeRoot",
    "installBinding",
    "plot",
    "print",
    "setPrototype",
    "show" 
)
exportClasses(
    "cellClassRepresentation",
     "cellContainer",
     "cellInfo",
     "contextClassRepresentation",
     "envProtoClass",
     "formInfo",
     "protoCell",
     "protoContainer",
     "protoContext",
     "protoField",
     "protoForm",
     "protoFormWithBrowser",
     "protoFormWithEnv",
     "protoFunction",
     "protoMethod" 
)
